<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html">
     <sly data-sly-call="${clientlib.all @ categories='vikram.components.custom.ContactADD'}"/>
</sly>
                    <!-- Vertical Layout -->
                    <div class="row clearfix">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="card">
                                <div class="header text-center">
                                    <h2>
                                        Add Contact Details
                                    </h2>
                                </div>
                                <div class="body" data-sly-use.formModel="com.vikram.aem.brands.core.models.AddUser">
                                    <form class="user" method="POST" enctype="multipart/form-data" action="${formModel.actionType}">
                                        <div class="row clearfix">
                                            <div class="col-sm-6">
                                                <div class="form-group form-float form-group-lg">
                                                    <div class="form-line">
                                                        <input type="text" name="name" class="form-control" />
                                                        <label class="form-label">Name</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="form-group form-float form-group-lg">
                                                    <div class="form-line">
                                                        <input type="text" name="phone" class="form-control" />
                                                        <label class="form-label">Phone</label>
                                                    </div>
                                                </div>
                                            </div>                                              
                                            <div class="col-sm-12">
                                                <div class="form-group form-float form-group-lg">
                                                    <div class="form-line">
                                                        <input type="text" name="email" class="form-control" />
                                                        <label class="form-label">Email Address</label>
                                                    </div>
                                                </div>
                                            </div>                                          
                                        </div>



                                        <button type="submit" class="btn btn-primary">
                                            ADD Contact
                                        </button>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- #END# Vertical Layout -->

